.avatarImageIcon {
  width: 60px;
  position: relative;
  border-radius: 50%;
  height: 60px;
  object-fit: cover;
}
.name {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.location {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 130%;
  color: #c5b7cc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.contentContainer {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.starIcon {
  width: 12px;
  position: relative;
  height: 12px;
}
.rating {
  position: relative;
  line-height: 100%;
}
.ratingContainer {
  border-radius: 16px;
  background-color: #a41cf7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 3px 5px;
  gap: 3px;
  font-size: 12px;
}
.topContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.review {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 160%;
}
.reviewCard {
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #443C4B;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 14px 14px 17px;
  gap: 10px;
  min-width: 280px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: Roboto;
}
.reviewCard:hover {
  border: 1px solid #a41cf7;
  box-sizing: border-box;
}
